.footer {
  min-height: 232px;
  background: #424659;
  margin-top: auto;
  display: flex;
  align-items: center;
}
.footer-menu-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */

  font-feature-settings: 'salt' on, 'liga' off;

  /* Default / White */

  color: #ffffff;
  text-align: center;
  @media (max-width: 576px) {
    margin-bottom: 5px;
  }
  @media (max-width: 768px) {
    margin-bottom: 5px;
  }
}
.footer-container {
  height: 100%;
}
.footer-container-row {
  min-height: 80%;
  flex-direction: row;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.footer-divider {
  height: 0.99px;
  color: #ffffff;
  background: #ffffff;
  opacity: 0.2;
  margin-bottom: 5px;
}
.footer-copyright {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  font-feature-settings: 'salt' on, 'liga' off;

  /* Text / Gray 300 */

  color: #d9dbe1;
}
.social-icons {
  width: 24px;
  height: 24px;
  position: relative;
}
.BG {
  border-radius: 45%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  // opacity: 0.1;
}
.path {
  position: absolute;
  left: 23.33%;
  right: 23.33%;
  top: 23.33%;
  bottom: 23.33%;
  background-image: url(../../../../content/images/insta.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}
.path-twitter {
  position: absolute;
  left: 23.33%;
  right: 23.33%;
  top: 23.33%;
  bottom: 23.33%;
  background-image: url(../../../../content/images/twitter.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}
.insta {
  opacity: 0.1;
  border-radius: 45%;
  width: 24px;
  height: 24px;
}
.soc-seti {
  background-image: url(../../../../content/images/insta.png);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}
.footer-container__contacts {
  text-decoration: none;
  color: #fff;
}
