.calc_main_text {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  color: #000000;
}
.calc_description {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  /* or 194% */

  letter-spacing: 0.2px;

  /* Gray 1 */

  color: #333333;
}

.distance_tf {
  width: 100%;
}
.atc-type-img {
  height: 100%;
}
.weight_tf_s4 {
  width: 100%;
}
.height_tf_s5 {
  width: 50%;
}
.mt-10 {
  margin-top: 10px !important;
}
