$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

header {
  background: rgba(26, 109, 178, 0.32);
  color: #ccc;
  // height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: 0.2s linear;
}

.normal {
  color: black;
  background: rgba(26, 109, 178, 0.8);
}

.header-row {
  min-height: 72px;
}

.info-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.navbar-brand {
  overflow: hidden;
}

.jh-navbar .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-version {
  font-size: 10px;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

.brand-logo {
  &:hover {
    text-decoration: none;
  }
  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;
    img {
      height: 45px;
    }
  }
}

.brand-title {
  font-size: 24px;
  color: $header-color;
  &:hover {
    color: $header-color-hover;
    text-decoration: none;
  }
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}
.order-call-button {
  padding: 10px 18px;
  gap: 10px;
  background: #fdad2a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  border: none;
  color: #ffffff;
}
a.logo svg {
  height: 50px;
  width: 100%;
}

a.logo svg path {
  fill: #fff;
}

header.fixed a.logo svg .cls-1 {
  fill: #0b1e3f;
}

header.fixed a.logo svg .cls-2 {
  fill: #04488a;
}
.center_header {
  margin: 0 auto;
}
