$header-color: #fff;
$header-color-secondary: #bbb;
$header-color-hover: darken($header-color, 20%);

header {
  background: rgba(26, 109, 178, 0.32);
  color: #ccc;
  // height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  transition: 0.2s linear;
}

.register-li::before {
  content: '';
  border: 1px solid #d9dfe4;
}
.normal {
  color: black;
  background: rgba(26, 109, 178, 0.8);
}

.header-row {
  min-height: 72px;
}

.info-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
  background-color: rgba(170, 0, 0, 0.5);
  left: -3.5em;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  overflow: hidden;
  position: absolute;
  top: 30px;
  white-space: nowrap;
  width: 15em;
  z-index: 99999;
  pointer-events: none;
  opacity: 0.75;
  a {
    color: #fff;
    display: block;
    font-weight: 400;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
  }
}

/* ==========================================================================
Navbar styles
========================================================================== */
.navbar-brand {
  overflow: hidden;
}

.jh-navbar .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-version {
  font-size: 10px;
  color: $header-color-secondary;
  padding: 0 0 0 10px;
}

.brand-logo {
  &:hover {
    text-decoration: none;
  }
  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;
    img {
      height: 45px;
    }
  }
}

.brand-title {
  font-size: 24px;
  color: $header-color;
  &:hover {
    color: $header-color-hover;
    text-decoration: none;
  }
}

.loading-bar {
  height: 3px;
  background-color: #009cd8;
  position: absolute;
  top: 0px;
  z-index: 1031;
}
.order-call-button {
  padding: 4px 18px;
  background: #fdad2a;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
  border: none;
  color: #ffffff;
}
a.logo svg {
  height: 50px;
  width: 100%;
}

a.logo svg path {
  fill: #fff;
}

header.fixed a.logo svg .cls-1 {
  fill: #0b1e3f;
}

header.fixed a.logo svg .cls-2 {
  fill: #04488a;
}
.center_header {
  margin: 0 auto;
}

.nav-links {
  width: 30vw;
  display: flex;
  padding: 0 0.7vw;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-weight: 600;
  margin-bottom: 0;
}
.nav-links li a {
  margin: 0 0.7vw;
  text-decoration: none;
  transition: all ease-in-out 350ms;
  padding: 10px;
  color: #d9dfe4;
  &:hover {
    color: #64abe6;
  }
}
.hamburger div {
  width: 30px;
  height: 3px;
  background: #f2f5f7;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}
.header_logo {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  .toolbar-box {
    width: 250px !important;
  }
  .center_nav_header {
    margin: 0 !important;
  }
  .menu-icon {
    padding-left: 10px !important;
  }
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    position: fixed;
    opacity: 1;
    height: 30vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    background: #053742;
  }
  .nav-links li {
    opacity: 1;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }

  li.fade {
    opacity: 1;
  }

  /* Navigation Bar Icon on Click*/

  .toggle .bars1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .bars2 {
    transition: all 0s ease;
    width: 0;
  }

  .toggle .bars3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
.menu-icon {
  padding-left: 130px;
}
.center_nav_header {
  margin: 0 auto;
}
